body {
    margin: 0;
}

.nav-container {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
}

.nav-item {
    background-color: aqua;
    margin: 0.5rem;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.nav-container a {
    color: crimson;
    font-style: italic;
    text-decoration: none;
    font-size: 2rem;
}

.nav-container a:hover {
    color: darkgreen;
    text-decoration: underline;
}