{% extends 'base/base.html' %}
{% load static %}
{%block title%}Edit book{%endblock title%}

{%block content%}
    <h1>Edit {{book.Title}}</h1>
    <form method="POST">
        {% csrf_token %}

        <label for="Title"><strong>Book: </strong></label>
        <input type="text" id="Title" name="Title" value="{{ book.Title }}"><br><br>

        <label for="Author"><strong>Author: </strong></label>
        <input type="text" id="Author" name="Author" value="{{ book.Author }}"><br><br>    

        <label for="Genre"><strong>Genre: </strong></label>
        <input type="text" id="Genre" name="Genre" value="{{ book.Genre }}"><br><br>

        <label for="NumberOfPages"><strong>Pages: </strong></label>
        <input type="number" id="NumberOfPages" name="NumberOfPages" value="{{ book.NumberOfPages }}"><br><br>
        
        {% if user.is_staff %}
            <input type="checkbox" name="Approved" id="Approved" checked hidden>
            <input type="text" name="Approved_by" id="Approved_by" value="{{ user.id }}" readonly hidden>
        {% endif %}

        <input type="submit" value="Edit book">
    </form>
{%endblock content%}