{%load static%}

<div class="nav">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'base/images/catlogo.png' %}" alt="Logo" class="logo-img">
            <p class="text"><strong>De Geletterde Kat</strong></p>
        </a>
    </div>

    <ul>
        <li><a href="{% url 'books' %}">Books</a></li>
        <li><a href="{% url 'readings' %}">Readings</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'addbook' %}">Add book</a></li>
            <li><a href="{% url 'addreadaction' %}">Add read</a></li>
        {% endif %}

        {% if user.is_staff %}
            <li><a href="{% url 'unapproved_books' %}">Check books</a></li>
        {% endif %}


        {% if user.is_authenticated %}
        <li><a href="#">Profile</a>
            <ul class="dropdown">
                <li><a href="{% url 'profile' user.id %}" class="nav-item">Profile</a></li>
                <li><a href="{% url 'userreadings' user.id %}" class="nav-item">Your action</a></li>
                <li><a href="{% url 'logout' %}" class="nav-item">Logout</a></li>
            </ul>
        </li>
        {% else %}  
            <li><a href="{% url 'login' %}" class="nav-item login">Login</a></li>
            <li><a href="{% url 'register' %}" class="nav-item register">Register</a></li>
        {% endif %}
    </ul>
</div>