{% extends 'base/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block csslinks %}
<style>
    .profile {
        width: 500px;
        margin: auto;
    }
</style>
{% endblock csslinks %}

{% block content %}
<div class="profile">
    <h1>Welkom {{user.username}}</h1>
    <p><b>First name:</b> {{user.first_name}}</p>
    <p><b>Last name:</b> {{user.last_name}}</p>
    <p><b>Location:</b> {{profile.location}}</p>
    <p><b>Date of birth:</b> {{profile.date_of_birth}}</p>
    <p><b>Bio:</b> {{profile.bio}}</p>
    <a class="btn btn-primary" href="{% url 'edit_profile' user.id %}">Edit Profile</a>
</div>
{% endblock content %}